body{
  background-color: #000;
  color:white
}
.navbar{
  font-size: 22px;
  padding: 12px;
}
i{
  color:#66fcf1;
  margin-left: 20px;
}
i:hover{
  color: whitesmoke;
}
.username{
  color: #66fcf1;
  font-size: 55px;  
  margin-top: -25px;
  margin-bottom: 0px; 
}
.field{
  font-size: 35px;
  color: yellowgreen;
}
.hello, .information{
  color: whitesmoke;
  font-size: 130%;
}
.profile_pic{
  height: 400px,;
  width: 400px;
  border-radius: 50%;
  margin: 10px;
}
.profile_pic:hover{

  box-shadow: 2px 2px 47px rgba(102, 252, 242, 0.5)  ; 
  -webkit-box-shadow: 2px 2px 47px rgba(102, 252, 242, 0.5)  ; 
  -moz-box-shadow: 2px 2px 47px rgba(102, 252, 242, 0.5)  ; 
}
.card-head{
  background-color:#1f2833;
  color:whitesmoke;
  border: none
}
.icons{
  height:70px;
  width:70px;
  margin-bottom:7px
}
.card-title{
  color:yellowgreen;
}
.card-details{
  color:whitesmoke
}